:root {
  --pink: #954c4c;
  --gray: #cecece;
  --nav-height: 10rem;
  --nav-height-medium: 15rem;
  --nav-height-large: 20rem;
  --font-color-main: #181818;
  --font-color-heading: #141414;
  --font-size: 1.6rem;
  --font-size-medium: 1.7rem;
  --font-size-large: 1.9rem;
  --text-shadow: 3px 3px 6px #21130d;
  --transform-500-ms: transform 500ms;
}
